

html,
body {
    height: 100%;
}

header {
    height: 871px;
}

#logoCodere {
    max-width: 13rem;
}

.nav-item{
    font-size: 1.3em;
    margin-right: 3rem;
}

.banner-image {
    background-image: url("../assets/JPG/home-seven-2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 871px;
}

#headCherry {
    max-width: 47rem;
    margin-left: -2rem;
}

#btn-iniciar {
    margin-top: -20%;
    width: 15rem;
    color: rgb(255, 255, 255);
}

/* **************** */

/* Remove border from toggler */
.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #78BF00;

    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #ffffff;
}

/* ******* */

/* Counter animation */

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}

#contadores_principal {
    background-image: url("../assets/JPG/middle.jpg");
    background-size: cover;
    height: 211px;
}

.contador_cantidad,
.txt_contador_cantidad {
    color: #ffffff;
}

